* {
  box-sizing: border-box;
}

body {
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  grid-template-rows: auto minmax(auto, 1fr) auto;
  font-family: sans-serif;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  /*flex: 1;*/
  touch-action: manipulation;
}

header {
  font-size: 1em;
  padding: 0.5em;
}

.grid {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px;
}

.grid div {
  border: 1px solid rgb(0,0,0, 0.06);
}

footer {
  padding: 0.8em;
  font-size: 1em;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(3, auto);
}
footer>div {
  margin: 0.3em 0.5em;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
footer>div:last-child {
  grid-row: 1 / span 3;
  grid-column: 2 / span 2;
}
footer div button {
  outline: none;
  padding: 1em;
  border: none;
  margin: 0;
}

/*@media (hover: hover) {*/
/*  .grid div:hover {*/
/*    background: red;*/
/*  }*/
/*}*/

/*.grid div.hover {*/
/*  background: red;*/
/*}*/
